@{
    ViewBag.Title = "AboutUs";
}

<div class="container-fluid bg-3 text-center">
    <h2 style="color:darkslategrey">About Us</h2>
</div>

</br>
</br>
</br>


<div id="about1" class="container-fluid">
    <div class="row">

        <div class="col-sm-4">
            <img src="~/Content/stefanija.jpg" style="width:250px; height:300px" />
        </div>
        <div class="col-sm-8">

            <span style="font-weight:bold; font-size:20px;"> Name: </span> <span style="font-size:20px">Stefanija Trpkovska</span><br>
            <span style="font-weight:bold; font-size:20px"> Date of Birth: </span> <span style="font-size:20px">12 December 1995</span><br>
            <span style="font-weight:bold; font-size:20px"> Adress: </span> <span style="font-size:20px">St. some street</span><br>
            <span style="font-weight:bold; font-size:20px"> Zip Code: </span> <span style="font-size:20px">1000</span><br>
            <span style="font-weight:bold; font-size:20px"> Email: </span> <span style="font-size:20px">trpkovska.stefanija.12.95@gmail.com</span><br>
            <span style="font-weight:bold; font-size:20px"> Phone: </span> <span style="font-size:20px"> 00 389 71 353 079 </span><br>

        </div>

    </div>
</div>
<br />
<br />
<br />
<br />

<div id="about2" class="container-fluid">
    <div class="row">

        <div class="col-sm-4">
            <img src="~/Content/aleks.jpg" style="width:250px; height:300px" />
        </div>
        <div class="col-sm-8">

            <span style="font-weight:bold; font-size:20px"> Name: </span> <span style="font-size:20px">Aleksandra Glavinova</span><br>
            <span style="font-weight:bold; font-size:20px"> Date of Birth: </span> <span style="font-size:20px">06 July 1997</span><br>
            <span style="font-weight:bold; font-size:20px"> Adress: </span> <span style="font-size:20px">St. Hristo Tatarcev 292A</span><br>
            <span style="font-weight:bold; font-size:20px"> Zip Code: </span> <span style="font-size:20px">1000</span><br>
            <span style="font-weight:bold; font-size:20px"> Email: </span> <span style="font-size:20px">a.glavinova@hotmail.com</span><br>
            <span style="font-weight:bold; font-size:20px"> Phone: </span> <span style="font-size:20px"> 00 389 75 248 470 </span><br>

        </div>

    </div>
</div>
