
@{
    ViewBag.Title = "Contact";
}


<div class="container-fluid bg-3 text-center">

    <h2 style="color:darkslategrey">Contact</h2>

    <p>
        Do you have a question for our cinema or website? Share your opinion with us.
        <br />
        Please note that in this way it is not possible to purchase or reserve tickets.
        For reservation of tickets, please use our on-line reservation service or telephone contact.
    </p>

</div>
<div class="container">

    <form action="/action_page.php">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
        </div>
        <div class="form-group">
            <label for="surname">Surname:</label>
            <input type="text" class="form-control" id="surname" placeholder="Enter surname" name="surname">
        </div>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>

        <div class="form-group">
            <label for="comment">Message:</label>
            <textarea class="form-control" rows="5" id="comment" placeholder="Enter message"></textarea>
        </div>

        <button type="submit" class="btn btn-default">Send</button>
    </form>
</div>
<br />
<br />

<div>
    <p>
        Your message will be automatically forwarded to the competent processing service and will be answered within the working hours, Monday through Friday.
    </p>

    <p> Contact numbers (Skopje 00 389 2 1234 567).</p>
</div>